<!DOCTYPE HTML>
<head>
    <title>About</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/static/js/move-top.js"></script>
    <script type="text/javascript" src="/static/js/easing.js"></script>
</head>
<body>
<div class="wrap">
    <div class="header">
        <div class="headertop_desc">
            <div class="call">
                <p><span>需要帮助?</span> 拨打 <span class="number">13148241119</span></span></p>
            </div>
            <div class="account_desc">
                <ul>
                    {{if .Is_login}}
                        <li>WelCome<a href="/user/info">{{.Username}}</a></li>
                    {{else}}
                        <li><a href="/register">注册</a></li>
                        <li><a href="/login">登录</a></li>
                    {{end}}
                    <li><a href="/delivery">物流</a></li>
                    <li><a href="/user/info">个人中心</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="header_top">
            <div class="logo">
                <a href="/index"><img src="/static/images/logo.png" alt="" /></a>
            </div>
            <div class="cart">
                <p> <span><a href="/cart/show">购物车</a>:</span><div id="dd" class="wrapper-dropdown-2"> {{.Cart_count}} 个商品
                    <ul class="dropdown">
                        <li>没有商品</li>
                    </ul></div></p>
            </div>
            <script type="text/javascript">
                function DropDown(el) {
                    this.dd = el;
                    this.initEvents();
                }
                DropDown.prototype = {
                    initEvents : function() {
                        var obj = this;

                        obj.dd.on('click', function(event){
                            $(this).toggleClass('active');
                            event.stopPropagation();
                        });
                    }
                }

                $(function() {

                    var dd = new DropDown( $('#dd') );

                    $(document).click(function() {
                        // all dropdowns
                        $('.wrapper-dropdown-2').removeClass('active');
                    });

                });

            </script>
            <div class="clear"></div>
        </div>
        <div class="header_bottom">
            <div class="menu">
                <ul>
                    <li><a href="/index">首页</a></li>
                    <li><a href="/goods/list">商品列表</a></li>
                    <li><a href="/delivery">物流</a></li>
                    <li><a href="/contact">联系我们</a></li>
                    <li><a href="/about">关于此平台</a></li>
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="search_box">
                <form action="/goods/search" method="get">
                    <input type="text" name="word" />
                    <input type="submit" value="" />
                </form>
            </div>
            <div class="clear"></div>
        </div>
    </div>